name: CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "9.0.x"

      - name: Restore
        run: dotnet restore Phoenix.Mediator/Phoenix.Mediator.csproj

      - name: Build
        run: dotnet build Phoenix.Mediator/Phoenix.Mediator.csproj -c Release --no-restore
